---
 - name: instalaci칩n de httpd (apache)
   yum: name=httpd state=present
 - name: instalaci칩n de php
   yum: name=php state=present

 - name: Copiar la p치gina de presentaci칩n
   copy: src=index.html dest=/var/www/html/index.html 
